/* Global config */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

h1 {
  font-size: 68px;
  color: #ccd6f6;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 26px;
  color: #ccd6f6;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}

/* Global config */


/* Navbar */

.navbar-toggler {
  position: absolute;
  right: 5%;
  /* left: 50%; */
}

.show-mobile {
  display: none;
}


.button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Fira Code", monospace;
  border: 1px solid#03e9f4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.button a {
  text-decoration: none;
  color: #03e9f4;
}

.button:hover {
  background: rgba(3, 232, 244, 0.2);
}

.navbar {
  height: 90px;
  width: 100vw;
  /* background: #05081f; */
  background: rgba(5, 8, 31, 0.95);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.1s all ease-out;
  z-index: 9999;
  /* box-shadow: 0 10px 30px -10px #070916; */
}

.nav-link {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  font-weight: 300;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #64ffda;
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: #64ffda;
}

.bg-mobile {
  background: rgba(5, 8, 31, 0.95);
}

.nav-mb {
  list-style: none;
  display: block;
  text-align: center;
  padding-top: 80px;
}

.nav-item-mb a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  font-weight: 300;
}


a:hover {
  color: #64ffda;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.logo {
  display: inline-block;
}

.navbar.hidden-navbar {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
  transition: 0.3s;
}

/* Navbar */


/* Intro Section */


.intro {
  margin-top: 120px;
  margin-left: 50px;
}

.hello {
  font-family: "Fira Code", monospace;
  color: #03e9f4;
}

.desc-intro {
  padding-right: 550px;
  font-size: 17px;
}

.glow {
  position: relative;
  width: 170px;
  text-align: center;
  padding: 15px 20px;
  margin-top: 40px;
  font-size: 16px;
  color: #03e9f4;
  font-weight: 300;
  font-family: "Fira Code", monospace;
  border: 1px solid#03e9f4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
  text-decoration: none;
}

.glow a {
  text-decoration: none;
  color: #ebf0ff;
}

.glow:hover {
  background: #03e9f4;
  box-shadow: 0 0px 15px 0 #03e9f4, 0 5px 20px 0 #03e9f4;
  font-weight: 500;
}

/* Intro Section */

/* About Section */

.about {
  margin-top: 200px;
  margin-bottom: 200px;
  /* padding-left: 50px; */
}

.desc {
  padding-left: 50px;
}


.title-about {
  margin-bottom: 50px;
  font-weight: 600;
}

.bio {
  /* position: relative; */
  margin-top: 35px;
  text-align: center;
  width: 55%;
  /* background-image: url('~@/assets/bio-bw.png'); */
  /* background-repeat: no-repeat; */
  border-radius: 10px;
  z-index: 1;
}


.overlay {
  position: absolute;
  top: 35px;
  left: 24%;
  width: 52%;
  height: 396px;
  background-color: #28f1c2;
  opacity: 0.5;
  border-radius: 10px;
  transition: 0.2s;
}

.box {
  position: absolute;
  top: 0;
  left: 155px;
  border: 1px solid #03e9f4;
  height: 396px;
  width: 55%;
  border-radius: 10px;
  z-index: -1;
}

.overlay:hover {
  opacity: 0;
}

.vl {
  position: absolute;
  margin-top: 18px;
  margin-left: 130px;
  border-top: 1px solid #03e9f4;
  width: 40%;
}

.text-about {
  padding-bottom: 5px;
  line-height: 1.5em;
}

.item {
  margin-left: -40px;
}

.item li {
  padding: 5px 0;
  font-size: 14px;
  font-family: "Fira Code", monospace;
  list-style: none;
}

.list-icon {
  color: #03e9f4;
  margin-right: 10px !important;
}

/* Portofolio section */

.portofolio {
  padding-left: 50px;
}

.vl-p {
  position: absolute;
  margin-top: 18px;
  margin-left: 250px;
  border-top: 1px solid #03e9f4;
  width: 23%;
}

.porto-title {
  font-weight: 600;
}

.porto {
  margin-bottom: 50px;
}

.hero {
  margin-top: 40px;
  width: 650px;
  height: 400px;
  border-radius: 5px;
}

.overlay-p {
  position: absolute;
  top: 39px;
  left: 15px;
  width: 650px;
  height: 401px;
  background-color: #28f1c2;
  opacity: 0.5;
  border-radius: 10px;
  transition: 0.2s;
}

.overlay-p:hover {
  opacity: 0;
}

.desc-porto {
  padding-top: 100px;
}

.featured {
  font-family: "Fira Code", monospace;
  color: #03e9f4;
  font-size: 16px;
  float: right;
}

.name-porto {
  margin-top: -10px;
  float: right;
}

.block-card {
  width: 490px;
  background-color: #172a45;
  margin-top: 90px;
  margin-left: -150px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
  border-radius: 5px;
}

.stack {
  margin-top: 15px;
  float: right;
  font-family: "Fira Code", monospace;
  color: #03e9f4;
  font-size: 15px;

}

.stack li {
  display: inline-block;
  padding: 0 8px;
}

.item-porto li {
  list-style: none;
}

.porto-icon {
  font-size: 22px;
  float: right;
  margin: 0 15px;
  cursor: pointer;
  color: #ccd6f6;
}

.porto-icon:hover {
  color: #03e9f4;
}

/* Portofolio section */

/* Projects section */

.project-section {
  margin-top: 200px;
}

.project-title {
  font-weight: 600;
}

.subtitle-project {
  font-family: "Fira Code", monospace;
  color: #03e9f4;
  font-size: 16px;
  margin-bottom: 50px;
}

.vl1-project {
  position: absolute;
  top: 30%;
  right: 5%;
  border-top: 1px solid #03e9f4;
  width: 35%;
}

.vl2-project {
  position: absolute;
  top: 30%;
  left: 5%;
  border-bottom: 1px solid #03e9f4;
  width: 35%;
}

.item-project {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 7px 7px;
  width: 320px;
  height: 300px;
  background-color: #172a45;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 5px;
}

.project-icon {
  margin-left: -25px;
  font-size: 35px;
  text-align: center;
  color: #03e9f4;
}

.title-project {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #ccd6f6;
  text-align: left;
}

.desc-project {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: left;
}

.stack-project {

  font-family: "Fira Code", monospace;
  color: #03e9f4;
  font-size: 13px;
  text-align: center;
  margin-left: -40px;
  margin-top: 20px;
  text-align: left;
}

.stack-project li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.icon-project {
  margin-left: -70px;
  margin-top: 30px;
  text-align: center;
}

.icon-project li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 0 10px;
  cursor: pointer;

}

.icon-pro {
  font-size: 25px;
  color: #03e9f4;
}

.icon-pro:hover {
  color: #ccd6f6;
}

/* Projects section */

/* Contact section */

.contact {
  margin-top: 200px;
  margin-bottom: 300px;
}

.title-contact {
  text-align: center;
}

.desc-contact {
  text-align: center;
  padding: 20px 250px;
  font-size: 18px;
}


.glow-contact {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  text-align: center;
  padding: 15px 20px;
  /* margin-top: 40px; */
  font-size: 16px;
  color: #03e9f4;
  font-weight: 300;
  font-family: "Fira Code", monospace;
  border: 1px solid#03e9f4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}

.glow-contact:hover {
  background: rgba(3, 232, 244, 0.2);
}

/* Contact section */

/* Footer */
.footer {
  /* margin-top: 100px; */
  margin-bottom: 20px;
  font-family: "Fira Code", monospace;
  color: #989dad;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

.footer:hover {
  color: #03e9f4;
}

link {
  text-decoration: none;
}

/* Footer */

/* Social Link */

/* Left social link */
.social-l {
  position: fixed;
  top: 55%;
  list-style: none;
}

.social-l li {
  padding: 10px 0;
}

.social-link {
  font-size: 22px;
  color: #989dad;
}

.social-link:hover {
  color: #03e9f4;
}

.vl-sl {
  position: fixed;
  top: 75%;
  left: 50px;
  /* margin-top: 18px;
  margin-left: 130px; */
  border-right: 2px solid #989dad;
  height: 30%;

}

/* Right social link */
.vl-sr {
  position: fixed;
  top: 75%;
  right: 40px;
  border-right: 2px solid #989dad;
  height: 30%;
}

.v-text {
  position: fixed;
  top: 45%;
  right: -85px;
  font-family: "Fira Code", monospace;
  text-decoration: none;
  color: #ccd6f6;
  font-size: 14px;
  letter-spacing: 3px;
  transition: 0.2s;
}

.v-text:hover {
  color: #03e9f4;
  margin-top: 3px;
  text-decoration: none;
}

.rotate {
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}



/* Social Link */

/* Media Query */

/* Mobile Devices */
@media(max-width: 480px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .intro {
    margin-top: 120px;
    margin-left: 20px;
  }

  .desc {
    padding-left: 25px;
  }

  .desc-intro {
    padding-right: 0;
    font-size: 17px;
  }

  .vl {

    margin-top: 13px;
    margin-left: 100px;
    width: 30%;
  }

  .portofolio {
    padding-left: 20px;
  }

  .vl-p {
    margin-top: 13px;
    margin-left: 190px;
  }

  .desc-porto {
    padding-top: 20px;
  }

  .featured {
    font-size: 16px;
    float: left;
  }

  .name-porto {
    margin-top: -10px;
    float: left;
  }

  .block-card {
    width: 350px !important;
    margin-top: 90px;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .stack {
    margin-top: 15px;
    float: left;
    font-family: "Fira Code", monospace;
    color: #03e9f4;
    font-size: 15px;
    margin-left: -40px;

  }

  .item-porto {
    margin-left: -45px;
  }

  .porto-icon {
    float: left;
  }

  .item-project {
    margin: 7px 7px;
    width: 250px;
    height: 330px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 5px;

  }

  .vl1-project {
    position: absolute;
    top: 30%;
    right: 5%;
    border-top: 1px solid #03e9f4;
    width: 20%;
  }

  .vl2-project {
    position: absolute;
    top: 30%;
    left: 5%;
    border-bottom: 1px solid #03e9f4;
    width: 20%;
  }

  .desc-contact {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
  }

  .footer {
    margin-bottom: 20px;
    font-family: "Fira Code", monospace;
    color: #989dad;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
  }

}

/* Mobile Devices */

/* Ipad Tablets Devices */
@media (max-width: 768px) {
  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 42px;
  }

  .intro {
    margin-top: 120px;
    margin-left: 20px;
  }

  .desc {
    padding-left: 25px;
  }

  .desc-intro {
    padding-right: 0;

  }

  .portofolio {
    padding-left: 20px;
  }

  .desc-porto {
    padding-top: 20px;
  }

  .featured {
    font-size: 16px;
    float: left;
  }

  .name-porto {
    margin-top: 25px;
    margin-left: -160px;
    float: left;
  }

  .block-card {
    width: 450px;
    margin-top: 90px;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .stack {
    margin-top: 15px;
    float: left;
    font-family: "Fira Code", monospace;
    color: #03e9f4;
    font-size: 15px;
    margin-left: -40px;

  }

  .item-porto {
    margin-top: 15px;
    margin-left: 0;

  }

  .porto-icon {
    float: left;
  }

  .item-project {
    margin: 7px 7px;
    width: 250px;
    height: 330px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 5px;

  }

  .desc-contact {
    text-align: center;
    padding: 20px 70px;
    font-size: 18px;
  }

}

/* Ipad Tablets Devices */

/* Small Screen Laptops */
@media (max-width: 992px) {
  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 42px;
  }

  .intro {
    margin-top: 120px;
    margin-left: 20px;
  }

  .desc {
    padding-left: 25px;
  }

  .desc-intro {
    padding-right: 0;

  }

  .portofolio {
    padding-left: 20px;
  }

  .desc-porto {
    padding-top: 20px;
  }

  .featured {
    font-size: 16px;
    float: left;
  }

  .name-porto {
    margin-top: 25px;
    margin-left: -160px;
    float: left;
  }

  .block-card {
    width: 450px;
    margin-top: 90px;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .stack {
    margin-top: 15px;
    float: left;
    font-family: "Fira Code", monospace;
    color: #03e9f4;
    font-size: 15px;
    margin-left: -40px;

  }

  .item-porto {
    margin-top: 15px;
    margin-left: 0;

  }

  .porto-icon {
    float: left;
  }

  .item-project {
    margin: 7px 7px;
    width: 250px;
    height: 330px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 5px;

  }

  .desc-contact {
    text-align: center;
    padding: 20px 70px;
    font-size: 18px;
  }

}

/* Small Screens Laptops */

/* Laptops */
@media (max-width: 1024px) {

  .overlay {
    height: 330px;
  }

  .box {
    position: absolute;
    top: 0;
    left: 155px;
    height: 330px;
    width: 55%;
  }

}

/* Laptops */


/* Desktop Laptops */
@media (max-width: 1200px) {

  .overlay {
    height: 330px;
  }

  .box {
    position: absolute;
    top: 0;
    left: 155px;
    height: 330px;
    width: 55%;
  }

}

/* Desktop Laptops */

/* End Media Query */